.Container {
  // display: flex;
  display: inline-block;
  // flex-direction: column;
}

.InnerContainer {
  display: flex;
  flex-direction: column;
}

.Coin {
  border-radius: 50%;
  border: 2px solid black;
  height: 70px;
  width: 70px;
  position: relative;
  display: inline-block;
  margin: 5px;
}

.Text {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  color: #fff;
  text-transform: capitalize;
}

.Heads {
  background: url('../../images/coin_heads.png');
  background-size: cover;
}

.Tails {
  background: url('../../images/coin_tails.png');
  background-size: cover;
}